.details-container{

display:flex;

padding:60px;

gap:60px;

flex-wrap:wrap;

}

.details-image{

flex:1;

}

.details-image img{

width:100%;

border-radius:15px;

}

.details-info{

flex:1;

}

.details-info h1{

font-size:42px;

margin-bottom:20px;

}

.brand,

.category{

font-size:18px;

margin:10px 0;

}

.rating{

display:flex;

align-items:center;

gap:10px;

margin:20px 0;

font-size:20px;

}

.price{

font-size:36px;

color:#2563eb;

margin-bottom:20px;

}

.description{

line-height:1.8;

color:#555;

margin-bottom:30px;

}

.buy-btn{

margin-left:20px;

background:black;

color:white;

padding:15px 30px;

border:none;

border-radius:8px;

cursor:pointer;

}

.cart-btn{

background:#2563eb;

color:white;

padding:15px 30px;

border:none;

border-radius:8px;

cursor:pointer;

}