.featured{
    padding:80px;
}

.featured h2{
    text-align:center;
    font-size:42px;
}

.featured p{
    text-align:center;
    color:gray;
    margin-bottom:50px;
}

.product-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
}